<head>
    <meta charset="UTF-8">
    <title>I Can Help!</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div>
        <header>
            <h1>
                {{!-- &#127881 &#127881 --}}
                {{!-- ^^ colour code --}}
            </h1>
            <nav>

            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>
</body>

</html>